*,
::before,
::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Montserrat, Inter, Roboto, "Noto Sans CJK SC", "Noto Sans SC", "Microsoft YaHei UI", sans-serif;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		transition-duration: 0s !important;
		animation-duration: 0s !important;
	}
}

// reset
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
