:root {
	--accent-500: #f06e8e;
	--accent-500-rgb: 240 110 142;
	--hover-overlay: rgb(0 0 0 / 5%);
	--ripple: var(--hover-overlay);
	--main-bg: white;
	--icon: #797173;
	background-color: var(--accent-500);

	@include dark {
		--hover-overlay: rgb(255 255 255 / 8%);
		--main-bg: black;
		--icon: #e5e4e4;
	}
}
